.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    background-color: #274C77;
    border-radius: 0;
}

.content > .title {
    color: #FFFFFF;
    padding: 16px 24px 0 24px;
    font-size: 40px;
}

.content > .subtitle {
    padding: 8px 24px 0 24px;
    color: #FFFFFF;
    font-size: 20px;
    align-self: center;
    max-width: 500px;
    text-align: center;
    margin-bottom: 5px;
}

.content > .image-wrapper {
    padding: 16px 16px 16px 16px;
    display: flex;
    justify-content: center;
}

.content > .image-wrapper > .image {
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 40px;
    max-width: 60%;
}

.content > .instructions-wrapper {
    display: flex;
    margin-bottom: 30px;
}

.content > .instructions-wrapper > .instructions-list {
    padding: 16px;
}

.instructions-list > .list-title {
    padding: 8px 24px 0 24px;
    color: #FFFFFF;
    font-size: 32px;
}

.instructions-list > .list-content li {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.instructions-list > .list-content a {
    color: #FFFFFF;
    font-size: 20px;
    margin: 0;
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .content {
        align-items: start;
    }

    .content > .title {
        align-self: start;
    }

    .content > .subtitle {
        text-align: start;
        align-self: start;
        padding: 8px 24px 0 24px;
        color: #FFFFFF;
        font-size: 20px;
        max-width: 500px;
    }

    .content > .image-wrapper {
        padding: 8px 16px 0 16px;
    }

    .content > .image-wrapper > .image {
        max-width: 100%;
    }

    .content > .instructions-wrapper {
        flex-direction: column;
    }

}
