.paragrafo {
    margin-bottom: 40px;
    line-height: 30px;
}

.content{
    background-color: #274c77;
    max-width: 100%;
}

.home-content {
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    background: #274c77;
    word-wrap: break-word;
    max-width: 100%;
    border-radius: 0px 0px 0px 0px;
    justify-items: center;
}

.home-image {
    margin-right: 7%;
    margin-top: 7%;
    margin-bottom: 7%;
    color: white;
    order: 2;
}

.home-image img {
    border-radius: 40px;
}

.home-content h2 {
    margin-bottom: 5%;
    font-size: 40px;
}

.conteudo {
    align-items: center;
    justify-items: center;
    text-align: left;
    line-height: 30px;
    color: #fff;
    font-size:20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 7% 10% 10% 15%;
}

@media screen and (max-width: 1149px) {
    
    .home-content{
        display: flex;
    }

    .home-image {
        width: 90%;
        margin-top: 0;
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 768px) {
    
    .home-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #274c77;
        word-wrap: break-word;
    }

    .conteudo {
        text-align: left;
        margin: 0px;
    }

    .paragrafo {
        margin-bottom: 40px;
        line-height: 30px;
        margin: 5% 10% 5% 10%;
    }
    
    .home-image {        
        width: 90%;
        margin: 10px 20px 10px 20px;
    }

    .home-image img {
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        height: auto;
        min-width: 50%;
        margin-bottom: 50px;
    }

    .conteudo h2 {
        margin: 10% 0% 0% 10%;
        padding: 0px 10px 10px 0px;
    }
}