*{
    box-sizing: border-box;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    background-color: #E8ECEF;
    border-radius: 0;
}

.content > * {
    padding: 16px 24px 0 24px;
    max-width: 940px;
}

.content > .headline > .title {
    color: #274C77;
    padding: 16px 24px 0 24px;
    font-size: 40px;
    text-align: center;
    justify-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.section-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px;
}

input[type=text], input[type="text"]:focus {
    width: 100%;
    padding: 12px;
    resize: vertical;
    border-bottom: 2px solid #716F6F;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #E8ECEF;
    font-size: large;
    color: #716F6F;

}

input[type="text"]:focus {
    outline: none;
}

input[type=submit][name=cancelar] {
    background-color: #FFFFFF;
    color: #274C77;
    margin-bottom: 30px;
    width: 150px;
    height: 50px;
}

input[type=submit][name=enviar] {
    background-color: #274C77;
    color: #FFFFFF;
    
}

input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
}

input[type="radio"] {
    height:15px;
    width: 15px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 12px;
    resize: vertical;
    outline: none;
    background-color: white;
    border-radius: 15px;
    font-size: large;
    color: #716F6F;
    border: 2px solid #716F6F;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row-button {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.row-button > div {
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 40px;
}

.col-22 {
    float: left;
    width: 205px;
    min-width: 60px;
}

.col-78 {
    float: left;
    width: 100%;
}

label {
    padding: 12px 12px 12px 0;
    margin-bottom: 0px;
    display: inline-block;
    color: #716F6F;
    font-size: 20px;
    white-space: nowrap;
}

@media screen and (max-width: 600px) {
    .content > .headline > .title {
        margin-bottom: 20px;
        text-align: center;
    }
    .section-wrapper{
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 80%;
        padding: 20px;
        max-width: 400px;
    }
    .col-22, .col-78{
        width: 100%;
        margin-top: 0;
    }
}

@media screen and (max-width: 400px) {

    .row-button > div {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 40px;
    }

    label {
        white-space: normal;
    }
}

@media screen and (max-width: 450px) {

    input[type=text], input[type="text"]:focus {
        font-size: 14px;
    }
}