.header-mobile {
    display: none;
}

@media screen and (max-width: 768px) {
    header.header-mobile {
        display: grid;
        grid-template-columns: 1fr auto;
        justify-items: start;
        align-items: center;
        padding: 20px;
        background-color: white;
        border-bottom: none;
        gap: 40px;
    }

    .header-mobile-logo img {
        width: 100%;
        max-width: 300px;
        height: auto;
    }
}


