.container {
    display: flex;
    flex-direction: column;
    background-color: #E7ECEF;
    min-height: 800px
}

.content {
    background-color: #E7ECEF;
    border-radius: 0;
    display: block;
}

.content > .headline > .title {
    color: #274C77;
    padding: 16px 24px 0 24px;
    font-size: 40px;
    text-align: center;
    justify-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.filter-wrapper {
    display: flex; 
    justify-content: space-between; 
    max-width: 500px;
}

.filter {
    justify-items: center;
    background: #E7ECEF;
    padding: 0px 0px 10px 25px;
    max-width: 1320px;
    padding: 0px 0px 10px 25px;
    margin: 20px auto;
}

.icon_white {
    width: 30px;
    display: block;
    cursor: pointer;
}

.icon_black {
    width: 30px;
    display: none;
    cursor: pointer;
}

.filterButton {
    background-color: #FFFFFF;
    border-radius: 15px;
    border-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 60px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 8px 2px;
    cursor: pointer;
}

.tasks-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    gap: 40px;
    background: #E7ECEF;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
    margin-bottom: 5%;
}

.vertical-task-card {
    border-radius: 15px;
    background: white;
    padding: 16px 24px 16px 24px;
    width: 250px;
    height: 420px;
    border: 1px solid #8b8c89;
}

.vertical-task-card:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.vertical-task-card > .card-section-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.vertical-task-card > .card-section-wrapper > .card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vertical-task-card > .card-section-wrapper > .help-button-wrapper {
    align-self: end;
}

.vertical-task-card > .card-section-wrapper > .task-description > .task-description-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 200px;
    cursor: pointer;
    word-break: break-word;
}

.horizontal-task-card {
    display: none;
}

.task-info {
    max-width: 60%;
}

.task-info > .task-name {
    font-size: 20px;
    font-weight: 700;
    width: 250px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-info > .task-owner {
    font-size: 12px;
    font-weight: 700;
    padding-top: 5px;
}

.status-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 90px;
    max-height: 20px;
    margin-top: 20px;
}

.status-info {
    max-width: 60%;
}

.status-image {
    height: 15px;
    width: 15px;
}

.status-name {
    font-size: 12px;
    font-weight: 700;
    padding-top: 2px;
}

.task-description {
    color: #1E1E1E;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-right: 8px;
}

.task-description > .show-more {
    display: none;
    color: black;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cards-button {
    display: flex;
    justify-content: space-between;
}

.card-button-wrapper {
    display: flex;
}

.manage-delete-button-wrapper {
    display: flex;
    max-width: 120px;
    flex-shrink: 0;
    margin-top: 10px;
}

.manage-button {
    height: 20px;
    width: 20px;
    padding: 8px;
}

.delete-button {
    height: 20px;
    width: 20px;
    padding: 8px;
}

.card-button-wrapper {
    display: flex;
}

.location-button-wrapper {
    display: flex;
    max-width: 120px;
    flex-shrink: 0;
    border-radius: 5px;
    background: none;
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    align-items: center;
    justify-content: right;
    float: right;
}

.location-tag {
    color: #000000;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}

.image-location {
    width: 20px;
    height: 20px;
}

.profile-image-card-container {
    max-width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: 50%;
}

.profile-image-card-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    max-width: 100%;
    max-height: 100%;
}

.page-button-wrapper {
    display: flex;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    background: #274C77;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.07);
    color: #FFFFFF;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.page-button {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    padding: 8px;
    text-align: center;
}

.button-cadastrar-demanda {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 2%;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-wrapper {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    min-height: 550px;
    max-height: 620px;
    margin: 5% auto;
    max-width: 660px;
    border-radius: 15px;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
  
.close:hover > .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 10px 24px 24px 24px;
    border-bottom: 1px solid rgb(230, 234, 246);
}

.image-modal {
    width: 40px;
    height: 40px;
}

.modal-title {
    padding: 15px 25px 10px 25px;
    color: #8B8C89;
    font-weight: bold;
}

.modal-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-title {
    font-size: 1.5rem;
    color: #274C77;
    font-weight: 400;
    line-height: 2rem;
    margin: 24px 24px 8px;
}

.NGO {
    margin: 5px 24px 8px;
}

.text {
    margin: 24px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.25rem;
    color: black;
    text-align: justify;
    overflow-wrap: break-word;
}

.text-tiltle {
    margin: 24px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.25rem;
    color: black;
    text-align: justify;
    overflow-wrap: break-word;
}

.city {
    margin: 24px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.25rem;
    color: black;
    text-align: justify;
    overflow-wrap: break-word;
}

.address {
    margin: 24px;
    text-align: justify;
    font-size: 15px;
    line-height: 1.25rem;
    color: black;
    text-align: justify;
    overflow-wrap: break-word;
}

@media screen and (max-width: 768px) {

    .content {
        border-radius: 0px;
        align-items: start;
        height: auto;
    }

    .content > .title {
        max-width: 298px;
        align-self: start;
        font-size: 40px;
    }

    .filter-wrapper {
        display: grid; 
        justify-content: space-between; 
    }

    .vertical-task-card {
        display: none;
    }

    .tasks-wrapper{
        padding: 15px;
    }

    .horizontal-task-card {
        display: flex;
    }

    .horizontal-task-card {
        background: #e7ecef;
        padding: 16px 24px 16px 24px;
        max-height: 170px;
        min-height: 170px;
        column-gap: 24px;
        border-bottom: 1px solid #8b8c89;
    }

    .horizontal-task-card > .left-side {
        grid-column-start: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: inherit;
    }

    .horizontal-task-card > .left-side > .task-description {
        margin-bottom: 24px;
    }

    .horizontal-task-card > .left-side > .task-description > .task-description-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
        cursor: pointer;
        word-break: break-word;
    }

    .bottom-info {
        display: flex;
        justify-content: space-between;
        max-width: 250px
    }
    
    .status-wrapper {
        margin-top: 0px;
    }

    .status-name {
        padding: 8px;
    }    

    .status-image {
        padding: 8px;
    }

    .horizontal-task-card > .right-side {
        display: flex;
        gap: 32px;
        align-items: center;
        width: fit-content;
        justify-self: end;
    }

    .cards-button {
        display: block;
        justify-content: space-between;
    }

    .manage-button {
        height: 20px;
        width: 20px;
    }

    .delete-button {
        height: 20px;
        width: 20px;
    }

    .modal-wrapper {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-height: 880px;
        height: auto;
        margin: 5% auto;
        max-width: 660px;
        border-radius: 15px;
    }

    .text {
        margin: 24px;
        font-size: 15px;
        line-height: 1.25rem;
        color: black;
        text-align: left;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 535px) {

    .task-description > p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .status-wrapper {
        margin-top: 0px;
    }

    .modal-wrapper {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-height: 880px;
        height: auto;
        margin: 5% auto;
        max-width: 660px;
        border-radius: 15px;
    }

    .text {
        margin: 24px;
        font-size: 15px;
        line-height: 1.25rem;
        color: black;
        text-align: left;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 425px) {

    .task-description > p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .status-wrapper {
        margin-top: 0px;
    }

    .modal-wrapper {
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-height: 2000px;
        height: auto;
        margin: 5% auto;
        max-width: 660px;
        border-radius: 15px;
    }

    .modal-header {
        padding: 0px;
    }

    .text {
        margin: 24px;
        font-size: 15px;
        line-height: 1.25rem;
        color: black;
        text-align: left;
        overflow-wrap: break-word;
    }
}

@media screen and (max-width: 320px) {

    .modal-header {
        padding: 0px;
    }

    .text {
        margin: 24px;
        font-size: 15px;
        line-height: 1.25rem;
        color: black;
        text-align: left;
        overflow-wrap: break-word;
    }

}
