.container {
    display: flex;
    flex-direction: column;
    background-color: #E7ECEF;
}

.content {
    background-color: #E7ECEF;
    border-radius: 0;
    display: block;
}

.content > .headline > .title {
    color: #274C77;
    padding: 16px 24px 0 24px;
    font-size: 40px;
    text-align: left;
    justify-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.filter {
    justify-items: center;
    background: #E7ECEF;
    padding: 0px 0px 10px 25px;
    max-width: 1320px;
    padding: 0px 0px 10px 25px;
    margin: 20px auto;
}

.icon_white {
    width: 30px;
    display: block;
    cursor: pointer;
}

.icon_black {
    width: 30px;
    display: none;
    cursor: pointer;
}

.filterButton {
    background-color: #FFFFFF;
    border-radius: 15px;
    border-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 60px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 8px 2px;
    cursor: pointer;
}

.tasks-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1600px;
    background: #E7ECEF;
    margin: 0 auto;
    justify-items: center;
    align-items: center;
}

vertical-task-card-component {
    padding: 20px;
}

@media screen and (max-width: 768px) {

    .content {
        border-radius: 0px;
        align-items: start;
        height: auto;
    }

    .content > .title {
        max-width: 298px;
        align-self: start;
    }

    .content > .headline > .title {
        font-size: 30px;
    }

    .tasks-wrapper{
        padding: 15px;
    }

    vertical-task-card-component {
        display: none;
    }

    horizontal-task-card-component {
        padding-bottom: 20px;
    }
}
