.content {
    background-color: #E8ECEF;
    border-radius: 0;
}

.content > * {
    padding: 16px 24px 0 24px;
    max-width: 940px;
}

.content > .headline > .title {
    color: #274C77;
    padding: 16px 24px 0 24px;
    font-size: 40px;
    text-align: left;
    justify-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

.section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 400px;
    padding: 20px;
}

input[type=password] {
    width: 100%;
    padding: 8px 12px 0 12px;
    resize: vertical;
    border-bottom: 2px solid #716F6F;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background-color: #E8ECEF;
    font-size: large;
    color: #716F6F;
}

input[type="password"]:focus {
    outline: none;
}


input[type=submit][name=cancelar] {
    background-color: #FFFFFF;
    color: #274C77;}

input[type=submit][name=redefinir] {
    background-color: #274C77;
    color: #FFFFFF;
}


input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    width: 150px;
    height: 50px;
    font-size: 1.2em;
}

.row {
    margin-top: 12px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row-button {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    justify-content: space-evenly;
}

.col-15 {
    float: left;
    width: 140px;
    margin-top: 6px;
    min-width: 60px;
}

.col-85 {
    float: left;
    width: 85%;
    margin-top: 6px;
}

label {
    padding: 12px 12px 0 0;
    display: inline-block;
    color: #716F6F;
}

@media screen and (max-width: 1170px) {
    .col-85 {
        float: left;
        width: 90%;
        margin-top: 6px;
    }
}

@media screen and (max-width: 600px) {
    .col-85 {
        width: 100%;
    }
}
